# Dependencies
node_modules/

# Environment
.env
.env.*

# Build output
build/
dist/
out/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
*.AppleDouble
*.LSOverride

# Git
.git/
.gitignore
